.search__inner {
    width: 100%;
    padding: 17px 40px;    

    label {
        display: none;
    }
    .search__input {
        width: 50%;
        background-color: #ffffff;
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black);
        font-weight: bold;
    }
}