.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    
    .video {
        margin-bottom: 30px;
        // background-color: var(--mycolorgray);
        border: 1px solid #333;
        padding: 15px;
        color: var(--black);
        transition: all 0.1s;
        
        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
                border: 0.5px solid var(--black100);

            }
        }
        .video__info {

            .title {
                @include line-one;
                margin-top: 10px;
                font-weight: bold;
            }
            .desc {
                font-size: 15px;
                margin-top: 10px;
                @include line(3);
            }
            .info {
                margin-top: 10px;
                @include line(1);
                display: flex;
                justify-content: space-between;
                font-size: 15px;
            }
        }
        &:hover {
            filter: grayscale(50%)opacity(90%);
            background-color: #fff6e2;
            color: var(--black);
        }
    }   
}
// 비디오 상세 페이지
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }
}
.video__info {
    .video__title {
        padding-top: 10px;
        font-size: 1.2rem;

    }
}