.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    
    .video {
        margin-bottom: 30px;
        // background-color: var(--mycolorgray);
        border: 1px solid #333;
        padding: 15px;
        color: var(--black);
        transition: all 0.1s;
        
        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
                border: 1px solid rgba(255, 166, 0, 0.5)

            }
        }
        .video__info {

            .title {
                @include line-one;
                margin-top: 10px;
                font-weight: bold;
            }
            .desc {
                font-size: 15px;
                margin-top: 10px;
                @include line(3);
            }
            .info {
                margin-top: 10px;
                @include line(1);
                display: flex;
                justify-content: space-between;
                font-size: 15px;
            }
        }
        &:hover {
            filter: grayscale(50%)opacity(90%);
            background-color: #fff6e2;
            color: var(--black);
        }

        .info {
            display: flex;
            justify-content: center;
            
            .author {
                @include line-one;
                font-size: 14px;
                text-decoration: underline;
                text-underline-position: unset;
            }
        }
    }   
}
// 비디오 상세 페이지
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }
}
.video__info {
    .video__title {
        padding-top: 10px;
        font-size: 1.2rem;

    }
    .video__channel {
        display: flex;  
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .id {
            font-weight: 800;

            a {
                background-color: #fff;
                padding: 1rem;
                font-size: 1rem;
                margin-top: 10px;
                border: 1px solid rgba(255, 166, 0, 0.5);
                border-radius: 30px;
            }
            
            
        }
        .count {
            display: flex;
            align-items: center;
            
            span {
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 10px;
                border-radius: 30px;
                margin: 0 5px;
                border: 1px solid rgba(255, 166, 0, 0.5)
            }

            svg {
                margin-right: 5px;
            }

        }
    }
    .video__desc {
        white-space: pre-line;
    }
}